.cover__subtitle {
  position: absolute;
  text-align: center;
  top: 62.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  z-index: 1;
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 64%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    top: 69%;
  }
}

@media screen and (max-width: 560px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 260px;
  }
}