.root {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 52px repeat(6, auto);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 28px 0 24px;
  margin: 0 auto;
  grid-template-areas:
    "header header header header header header header header header header header header"
    ". lead lead lead lead lead lead lead lead lead lead ."
    ". intro intro intro intro intro intro intro . . . ."
    "photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid"
    ". places places places places places places places places places places ."
    "cover cover cover cover cover cover cover cover cover cover cover cover"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

@media screen and (max-width: 760px) {
  .root  {
    padding-top: 16px;
  }
}