.cover {
  width: 100%;
  grid-area: cover;
  margin: 92px 0;
  position: relative;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 64px;
  }
}