.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 62.5vw;
}

@media screen and (min-width: 1024px) {
  .cover__background  {
    max-width: 1184px;
    max-height: 740px;
  }
}