.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer  {
    margin: 0 48px;
  }
}

@media screen and (max-width: 900px) {
  .footer  {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}